#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin: 40px 0 0 0;
}
.jobTitle {
  font-style: italic;
  font-size: 1em;
}
.profileImage {
  width: 150px;
  border-radius: 100px;
}
.intro {
  margin-bottom: 30px;
}
.aboutMeText {
  text-align: justify;
  margin: auto;
  width: 260px;
  font-size: 0.8em;
}
.aboutMeTitle {
  font-size: 1em;
}
.navBar {
  min-width: 260px;
  list-style-type: none;
  margin: 0;
  padding: 30px 0;
  background-color: #0C2D48;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navItem, .currentPageNavItem {
  color: #ffffffde;
  margin: 0 20px;
  padding: 20px;
}
.navItem:hover, .currentPageNavItem:hover {
  color: #ffffffde;
  border-radius: 50px;
}
.navItem:hover {
  background-color: #145DA0;
}
.currentPageNavItem {
  border-radius: 50px;
  border-style: solid;
  border-width: 5px;
  border-color: #ffffffde;
}
.pageNotFound {
  padding: 20px 30px;
  width: 200px;
  font-size: 0.8em;
}
.projectList {
  list-style-type: none;
  padding: 0;
}
.projectCard {
  border: solid 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.projectImage {
  width: 250px;
  height: 100px;
  object-fit: cover;
  object-position: left top;
  margin: 0 auto;
}
.seeMoreButton {
  margin: 5px auto;
  width: 150px;
}

@media screen and (min-width: 480px){
  .intro {
    margin-bottom: 60px;
  }
  .jobTitle {
    font-style: italic;
    font-size: 1.4em;
  }
  .aboutMeTitle{
    font-size: 1.5em; 
  }
  .aboutMeText {
    width: 320px;
    font-size: 1em;
  }
  .profileImage {
    width: 200px;
    border-radius: 100px;
  }
  .navBar {
    width: 320px;
  }
  .pageNotFound {
    width: 200px;
    padding: 20px 60px;
  }
}

@media screen and (min-width: 600px){
  .aboutMe {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: min-content 1fr;
  }
  .aboutMeTitle {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    padding-left: 30px;
  }
  .profileImage {
    grid-area: 2 / 1 / 3 / 2;
  }
  .aboutMeText {
    margin: 0;
    padding-left: 30px;
    grid-area: 2 / 2 / 3 / 3;
  }
  .navBar {
    width: 550px;
  }
  .pageNotFound {
    padding: 20px 100px;
    width: 350px;
    font-size: 1.5em;
  }
  .projectList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 550px;
    justify-content: center;
  }
  .projectCard {
    min-width: 250px;
  }
}

@media screen and (min-width: 1000px){
  #root {
    display: flex;
    flex-direction: column;
    width: 1000px;
  }
  .aboutMe {
    display: grid;
    grid-template-columns: 200px 650px;
    grid-template-rows: min-content 1fr;
    margin: 0 auto;
  }
  .aboutMeText {
    width: 90%;
  }
  .profileImage {
    grid-area: 1 / 1 / 3 / 2;
  }
  .navBar {
    width: 850px;
    margin: auto;
  }
  .pageNotFound {
    padding: 20px 250px;
    width: 500px;
    font-size: 2em;
  }
  .projectList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 850px;
    margin: 16px auto 16px auto;
  }
  .projectCard {
    min-width: 250px;
  }
}